In [506]:
import pandas as pd

In [507]:
df = pd.read_csv('volume-pengangkutan-sampah-di-kali-sungai-situ-waduk-bulan-september-tahun-2020.csv', encoding='latin-1', na_values=['-'])

In [508]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51570 entries, 0 to 51569
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      51570 non-null  int64
 1   titik_lokasi               51570 non-null  object
 2   kecamatan                  51570 non-null  object
 3   wilayah                    51570 non-null  object
 4   panjang/luas               42540 non-null  object
 5   satuan_panjang/luas        31050 non-null  object
 6   tanggal                    51570 non-null  int64
 7   volume_sampah_perhari(m3)  34995 non-null  float64
 8   Unnamed: 8                 1 non-null      float64
dtypes: float64(2), int64(2), object(5)
memory usage: 3.5+ MB

In [509]:
df = df.drop(df.columns[[1, 2, 3, 4, 5, 8]], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51570 entries, 0 to 51569
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      51570 non-null  int64
 1   tanggal                    51570 non-null  int64
 2   volume_sampah_perhari(m3)  34995 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.2 MB

In [510]:
df = df.dropna()
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34995 entries, 0 to 51565
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      34995 non-null  int64
 1   tanggal                    34995 non-null  int64
 2   volume_sampah_perhari(m3)  34995 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.1 MB
       bulan  tanggal  volume_sampah_perhari(m3)
0          9        1                        2.0
1          9        1                        2.0
2          9        1                        3.0
3          9        1                        2.0
4          9        1                        5.0
...      ...      ...                        ...
51559      9       30                        1.0
51562      9       30                        4.0
51563      9       30                        4.0
51564      9       30                        4.0
51565      9       30                        4.0

[34995 rows x 3 columns]

In [511]:
# df = df.reset_index(drop=True)
# # df = df.dropna(subset=['volume_sampah_perhari(m3)'])
# rows_with_empty_values = df[df['volume_sampah_perhari(m3)'].str.strip() == '.']
# print(rows_with_empty_values)
# df.to_csv('waduk_temp.csv', index=False)

In [512]:
# df = pd.read_csv('waduk_temp.csv')

In [513]:
df['volume_sampah_perhari(m3)'] = df['volume_sampah_perhari(m3)'].astype(float)
df = df.groupby(['bulan', 'tanggal'])['volume_sampah_perhari(m3)'].sum().reset_index()
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      30 non-null     int64
 1   tanggal                    30 non-null     int64
 2   volume_sampah_perhari(m3)  30 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 848.0 bytes
    bulan  tanggal  volume_sampah_perhari(m3)
0       9        1                    2179.96
1       9        2                    2266.12
2       9        3                    1968.60
3       9        4                    1971.20
4       9        5                    1943.74
5       9        6                    2164.68
6       9        7                    2056.20
7       9        8                    1939.50
8       9        9                    2000.00
9       9       10                    2108.64
10      9       11                    2178.78
11      9       12                    1914.48
12      9       13                     891.50
13      9       14                    1264.32
14      9       15                    2665.30
15      9       16                    2741.24
16      9       17                    2588.72
17      9       18                    2314.62
18      9       19                    2224.64
19      9       20                    1926.88
20      9       21                    2319.70
21      9       22                    5250.28
22      9       23                    2829.52
23      9       24                    2434.40
24      9       25                    2484.26
25      9       26                    2596.42
26      9       27                    2037.98
27      9       28                    2458.28
28      9       29                    2313.90
29      9       30                    2229.70

In [514]:
df['tahun'] = 2020
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      30 non-null     int64
 1   tanggal                    30 non-null     int64
 2   volume_sampah_perhari(m3)  30 non-null     float64
 3   tahun                      30 non-null     int64
dtypes: float64(1), int64(3)
memory usage: 1.1 KB

In [515]:
df.to_csv('waduk_temp.csv', index=False)

In [517]:
print((31*2) + 29 + 28 + (31*2) + (30*2) + (31*2) + (30*2) + 31 + 31+ 30 + 31+30+31)

547