In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('volume_gabung.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      547 non-null    int64
 1   tanggal                    547 non-null    int64
 2   volume_sampah_perhari(m3)  547 non-null    float64
 3   tahun                      547 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 17.2 KB

In [11]:
df_grouped = df.groupby(['tahun', 'bulan'])['volume_sampah_perhari(m3)'].sum().reset_index()
print(df_grouped)

    tahun  bulan  volume_sampah_perhari(m3)
0    2020      1                   55486.10
1    2020      2                   72055.76
2    2020      3                   78819.66
3    2020      4                   72595.75
4    2020      5                   72820.01
5    2020      6                   78389.13
6    2020      7                   81368.01
7    2020      8                   59777.08
8    2020      9                   68263.56
9    2020     10                   70634.78
10   2020     11                   71139.46
11   2020     12                   78578.73
12   2021      1                  150661.97
13   2021      2                   87011.20
14   2021      3                   85470.21
15   2021      4                   84565.90
16   2021      5                   80801.15
17   2021      6                   81274.00