In [109]:
import pandas as pd

In [110]:
df = pd.read_csv('volume-pengangkutan-sampah-di-kali-sungai-situ-waduk-bulan-agustus-tahun-2020.csv', encoding='latin-1', na_values=['-'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52576 entries, 0 to 52575
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      52576 non-null  int64
 1    titik_lokasi              52576 non-null  object
 2    kecamatan                 52576 non-null  object
 3    wilayah                   52576 non-null  object
 4    panjang/luas              42780 non-null  object
 5   satuan_panjang/luas        31372 non-null  object
 6   tanggal                    52576 non-null  int64
 7   volume_sampah_perhari(m3)  34671 non-null  float64
dtypes: float64(1), int64(2), object(5)
memory usage: 3.2+ MB

In [111]:
df = df.drop(df.columns[[1, 2, 3, 4, 5]], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52576 entries, 0 to 52575
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      52576 non-null  int64
 1   tanggal                    52576 non-null  int64
 2   volume_sampah_perhari(m3)  34671 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.2 MB

In [112]:
df = df.dropna()
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34671 entries, 0 to 52571
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      34671 non-null  int64
 1   tanggal                    34671 non-null  int64
 2   volume_sampah_perhari(m3)  34671 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.1 MB
       bulan  tanggal  volume_sampah_perhari(m3)
0          8        1                        1.0
1          8        1                        1.0
2          8        1                        1.0
3          8        1                        1.0
4          8        1                        4.0
...      ...      ...                        ...
52566      8       31                        3.0
52567      8       31                        3.0
52569      8       31                        8.0
52570      8       31                        7.0
52571      8       31                        7.0

[34671 rows x 3 columns]

In [113]:
df['volume_sampah_perhari(m3)'] = df['volume_sampah_perhari(m3)'].astype(float)

In [114]:
df = df.groupby(['bulan', 'tanggal'])['volume_sampah_perhari(m3)'].sum().reset_index()

In [115]:
df.info()
print(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   bulan                      31 non-null     int64
 1   tanggal                    31 non-null     int64
 2   volume_sampah_perhari(m3)  31 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 872.0 bytes
    bulan  tanggal  volume_sampah_perhari(m3)
0       8        1                    1595.40
1       8        2                    1726.14
2       8        3                    1749.74
3       8        4                    1763.78
4       8        5                    1907.48
5       8        6                    2040.16
6       8        7                    1813.26
7       8        8                    1707.42
8       8        9                    2058.38
9       8       10                    1970.88
10      8       11                    1985.12
11      8       12                    2157.42
12      8       13                    1428.50
13      8       14                    2735.00
14      8       15                    2503.86
15      8       16                    1982.64
16      8       17                    2112.10
17      8       18                    2218.56
18      8       19                    2320.72
19      8       20                    1976.26
20      8       21                    1815.46
21      8       22                    1797.92
22      8       23                    1822.98
23      8       24                    1823.40
24      8       25                    1787.62
25      8       26                    2106.98
26      8       27                    1907.74
27      8       28                    1743.50
28      8       29                    1783.28
29      8       30                    1746.24
30      8       31                    1689.14

In [116]:
df.to_csv('waduk_temp.csv', index=False)

In [117]:
df = pd.read_csv('volume-pengangkutan-sampah-di-kali-sungai-situ-waduk-bulan-agustus-tahun-2020.csv', encoding='latin-1', na_values=['-'])