In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('cleaned_dataset\data_deforestasi.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   subnational1           33 non-null     object
 1   threshold              33 non-null     float64
 2   area_ha                33 non-null     float64
 3   extent_2000_ha         33 non-null     float64
 4   extent_2010_ha         33 non-null     float64
 5   gain_2000-2020_ha      33 non-null     float64
 6   tc_loss_ha_2001        33 non-null     float64
 7   tc_loss_ha_2002        33 non-null     float64
 8   tc_loss_ha_2003        33 non-null     float64
 9   tc_loss_ha_2004        33 non-null     float64
 10  tc_loss_ha_2005        33 non-null     float64
 11  tc_loss_ha_2006        33 non-null     float64
 12  tc_loss_ha_2007        33 non-null     float64
 13  tc_loss_ha_2008        33 non-null     float64
 14  tc_loss_ha_2009        33 non-null     float64
 15  tc_loss_ha_2010        33 non-null     float64
 16  tc_loss_ha_2011        33 non-null     float64
 17  tc_loss_ha_2012        33 non-null     float64
 18  tc_loss_ha_2013        33 non-null     float64
 19  tc_loss_ha_2014        33 non-null     float64
 20  tc_loss_ha_2015        33 non-null     float64
 21  tc_loss_ha_2016        33 non-null     float64
 22  tc_loss_ha_2017        33 non-null     float64
 23  tc_loss_ha_2018        33 non-null     float64
 24  tc_loss_ha_2019        33 non-null     float64
 25  tc_loss_ha_2020        33 non-null     float64
 26  tc_loss_ha_2021        33 non-null     float64
 27  tc_loss_ha_2022        33 non-null     float64
 28  avg_tc_loss_2018-2022  33 non-null     float64
dtypes: float64(28), object(1)
memory usage: 7.6+ KB

In [27]:
df = df.drop(['threshold', 'area_ha', 'extent_2000_ha', 'extent_2010_ha', 'gain_2000-2020_ha', 'tc_loss_ha_2001', 'tc_loss_ha_2002', 'tc_loss_ha_2003', 'tc_loss_ha_2004', 'tc_loss_ha_2005', 'tc_loss_ha_2006', 'tc_loss_ha_2007', 'tc_loss_ha_2008', 'tc_loss_ha_2009', 'tc_loss_ha_2010', 'tc_loss_ha_2011', 'tc_loss_ha_2012', 'tc_loss_ha_2013', 'tc_loss_ha_2014', 'tc_loss_ha_2015', 'tc_loss_ha_2016', 'tc_loss_ha_2017', 'avg_tc_loss_2018-2022'], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subnational1     33 non-null     object
 1   tc_loss_ha_2018  33 non-null     float64
 2   tc_loss_ha_2019  33 non-null     float64
 3   tc_loss_ha_2020  33 non-null     float64
 4   tc_loss_ha_2021  33 non-null     float64
 5   tc_loss_ha_2022  33 non-null     float64
dtypes: float64(5), object(1)
memory usage: 1.7+ KB

In [32]:
data_null = df[df['tc_loss_ha_2022'].isnull()]
print(data_null)

Empty DataFrame
Columns: [subnational1, tc_loss_ha_2018, tc_loss_ha_2019, tc_loss_ha_2020, tc_loss_ha_2021, tc_loss_ha_2022]
Index: []

In [23]:
df_melt = pd.melt(df, id_vars=['subnational1'], var_name='year', value_name='tc_loss')
df_melt['year'] = df_melt['year'].str.extract('(\d+)').astype(int)

          subnational1  year      tc_loss
0                 Aceh  2018  1995.804348
1                 Bali  2018    35.513889
2               Banten  2018   420.296875
3             Bengkulu  2018  2452.187500
4        DI Yogyakarta  2018    27.600000
..                 ...   ...          ...
160  Sulawesi Tenggara  2022  1115.177083
161     Sulawesi Utara  2022   182.483333
162     Sumatera Barat  2022  1771.056250
163   Sumatera Selatan  2022  5791.358333
164     Sumatera Utara  2022  1458.823529

[165 rows x 3 columns]

In [33]:
df_melt.to_csv('tree_cover_loss.csv', index=False)