In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [466]:
df = pd.read_csv('cleaned_dataset\data_banjir.csv')
df1 = pd.read_csv('cleaned_dataset\weather_history.csv')

In [467]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kode Identitas Bencana  5998 non-null   object
 1   ID Kabupaten            6787 non-null   int64
 2   Tanggal Kejadian        6787 non-null   object
 3   Kejadian                6787 non-null   object
 4   Kabupaten               6787 non-null   object
 5   Provinsi                6787 non-null   object
 6   Penyebab                6787 non-null   object
 7   Meninggal               6787 non-null   int64
 8   Hilang                  6787 non-null   int64
 9   Terluka                 6787 non-null   int64
 10  Rumah Rusak             6786 non-null   float64
 11  Rumah Terendam          6787 non-null   int64
 12  Fasum Rusak             6787 non-null   int64
dtypes: float64(1), int64(6), object(6)
memory usage: 689.4+ KB

In [468]:
df['Kejadian Banjir'] = 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kode Identitas Bencana  5998 non-null   object
 1   ID Kabupaten            6787 non-null   int64
 2   Tanggal Kejadian        6787 non-null   object
 3   Kejadian                6787 non-null   object
 4   Kabupaten               6787 non-null   object
 5   Provinsi                6787 non-null   object
 6   Penyebab                6787 non-null   object
 7   Meninggal               6787 non-null   int64
 8   Hilang                  6787 non-null   int64
 9   Terluka                 6787 non-null   int64
 10  Rumah Rusak             6786 non-null   float64
 11  Rumah Terendam          6787 non-null   int64
 12  Fasum Rusak             6787 non-null   int64
 13  Kejadian Banjir         6787 non-null   int64
dtypes: float64(1), int64(7), object(6)
memory usage: 742.5+ KB

In [469]:
df.drop(['Kode Identitas Bencana', 'Penyebab', 'Kabupaten', 'ID Kabupaten', 'Kejadian'], axis=1, inplace=True)

In [470]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tanggal Kejadian  6787 non-null   object
 1   Provinsi          6787 non-null   object
 2   Meninggal         6787 non-null   int64
 3   Hilang            6787 non-null   int64
 4   Terluka           6787 non-null   int64
 5   Rumah Rusak       6786 non-null   float64
 6   Rumah Terendam    6787 non-null   int64
 7   Fasum Rusak       6787 non-null   int64
 8   Kejadian Banjir   6787 non-null   int64
dtypes: float64(1), int64(6), object(2)
memory usage: 477.3+ KB

In [471]:
df['Tanggal Kejadian'] = pd.to_datetime(df['Tanggal Kejadian'])
df['Tahun'] = df['Tanggal Kejadian'].dt.year
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tanggal Kejadian  6787 non-null   datetime64[ns]
 1   Provinsi          6787 non-null   object
 2   Meninggal         6787 non-null   int64
 3   Hilang            6787 non-null   int64
 4   Terluka           6787 non-null   int64
 5   Rumah Rusak       6786 non-null   float64
 6   Rumah Terendam    6787 non-null   int64
 7   Fasum Rusak       6787 non-null   int64
 8   Kejadian Banjir   6787 non-null   int64
 9   Tahun             6787 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(1)
memory usage: 530.4+ KB

In [472]:
df_grouped = df.groupby(['Tahun', 'Provinsi']).agg({
    'Meninggal' : 'sum',
    'Hilang' : 'sum',
    'Terluka' : 'sum',
    'Rumah Rusak' : 'sum',
    'Rumah Terendam' : 'sum',
    'Fasum Rusak' : 'sum',
    'Kejadian Banjir' : 'sum'
}).reset_index()

In [473]:
df_grouped.to_csv('data_banjir_2.csv', index=False)

In [474]:
df2 = pd.read_csv('data_banjir_2.csv')

In [475]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tahun            170 non-null    int64
 1   Provinsi         170 non-null    object
 2   Meninggal        170 non-null    int64
 3   Hilang           170 non-null    int64
 4   Terluka          170 non-null    int64
 5   Rumah Rusak      170 non-null    float64
 6   Rumah Terendam   170 non-null    int64
 7   Fasum Rusak      170 non-null    int64
 8   Kejadian Banjir  170 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 12.1+ KB

In [476]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62084 entries, 0 to 62083
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                62084 non-null  int64
 1   time                      62084 non-null  object
 2   weathercode (wmo code)    62084 non-null  int64
 3   temperature_2m_mean (°C)  62084 non-null  float64
 4   rain_sum (mm)             62084 non-null  float64
 5   Province                  62084 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 2.8+ MB

In [477]:
df1.drop(['weathercode (wmo code)'], axis=1, inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62084 entries, 0 to 62083
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                62084 non-null  int64
 1   time                      62084 non-null  object
 2   temperature_2m_mean (°C)  62084 non-null  float64
 3   rain_sum (mm)             62084 non-null  float64
 4   Province                  62084 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ MB

In [478]:
df1['time'] = pd.to_datetime(df1['time'])
df1['Tahun'] = df1['time'].dt.year

In [479]:
df1_grouped = df1.groupby(['Tahun', 'Province']).agg({
    'temperature_2m_mean (°C)' : 'mean',
    'rain_sum (mm)' : 'mean'
}).reset_index()

In [480]:
df1_grouped.to_csv('weather_2.csv', index=False)

In [481]:
df = pd.read_csv('data_banjir_2.csv')
df1 = pd.read_csv('weather_2.csv')
df.info()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tahun            170 non-null    int64
 1   Provinsi         170 non-null    object
 2   Meninggal        170 non-null    int64
 3   Hilang           170 non-null    int64
 4   Terluka          170 non-null    int64
 5   Rumah Rusak      170 non-null    float64
 6   Rumah Terendam   170 non-null    int64
 7   Fasum Rusak      170 non-null    int64
 8   Kejadian Banjir  170 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 12.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Tahun                     170 non-null    int64
 1   Province                  170 non-null    object
 2   temperature_2m_mean (°C)  170 non-null    float64
 3   rain_sum (mm)             170 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 5.4+ KB

In [482]:
merged = pd.merge(df1, df, right_on=['Tahun', 'Provinsi'], left_on=['Tahun', 'Province'], how='left')
merged.drop(['Provinsi'], axis=1, inplace=True)

columns_zero = ['Meninggal', 'Hilang', 'Terluka', 'Rumah Rusak', 'Rumah Terendam', 'Fasum Rusak', 'Kejadian Banjir']
for column in columns_zero:
    merged[column] = merged[column].fillna(0)

#ganti tipe
columns_int = ['Meninggal', 'Hilang', 'Terluka', 'Rumah Rusak', 'Rumah Terendam', 'Fasum Rusak', 'Kejadian Banjir']
merged[columns_int] = merged[columns_int].astype(int)


merged.to_csv('data_banjir_laste.csv', index=False)

In [483]:
df = pd.read_csv('data_banjir_laste.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Tahun                     170 non-null    int64
 1   Province                  170 non-null    object
 2   temperature_2m_mean (°C)  170 non-null    float64
 3   rain_sum (mm)             170 non-null    float64
 4   Meninggal                 170 non-null    int64
 5   Hilang                    170 non-null    int64
 6   Terluka                   170 non-null    int64
 7   Rumah Rusak               170 non-null    int64
 8   Rumah Terendam            170 non-null    int64
 9   Fasum Rusak               170 non-null    int64
 10  Kejadian Banjir           170 non-null    int64
dtypes: float64(2), int64(8), object(1)
memory usage: 14.7+ KB

In [484]:
data_null = df[df['Province'].isnull()]
print(data_null)

Empty DataFrame
Columns: [Tahun, Province, temperature_2m_mean (°C), rain_sum (mm), Meninggal, Hilang, Terluka, Rumah Rusak, Rumah Terendam, Fasum Rusak, Kejadian Banjir]
Index: []

In [485]:
total = df['Kejadian Banjir'].sum()
print(total)

6787

In [33]:
df = pd.read_csv('cleaned_dataset\data_banjir.csv')
df['Kejadian Banjir'] = 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6787 entries, 0 to 6786
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kode Identitas Bencana  5998 non-null   object
 1   ID Kabupaten            6787 non-null   int64
 2   Tanggal Kejadian        6787 non-null   object
 3   Kejadian                6787 non-null   object
 4   Kabupaten               6787 non-null   object
 5   Provinsi                6787 non-null   object
 6   Penyebab                6787 non-null   object
 7   Meninggal               6787 non-null   int64
 8   Hilang                  6787 non-null   int64
 9   Terluka                 6787 non-null   int64
 10  Rumah Rusak             6786 non-null   float64
 11  Rumah Terendam          6787 non-null   int64
 12  Fasum Rusak             6787 non-null   int64
 13  Kejadian Banjir         6787 non-null   int64
dtypes: float64(1), int64(7), object(6)
memory usage: 742.5+ KB

In [34]:
# ambiljabar
df = df[df['Provinsi'] == 'Jawa Barat']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 917 entries, 26 to 6781
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Kode Identitas Bencana  807 non-null    object
 1   ID Kabupaten            917 non-null    int64
 2   Tanggal Kejadian        917 non-null    object
 3   Kejadian                917 non-null    object
 4   Kabupaten               917 non-null    object
 5   Provinsi                917 non-null    object
 6   Penyebab                917 non-null    object
 7   Meninggal               917 non-null    int64
 8   Hilang                  917 non-null    int64
 9   Terluka                 917 non-null    int64
 10  Rumah Rusak             917 non-null    float64
 11  Rumah Terendam          917 non-null    int64
 12  Fasum Rusak             917 non-null    int64
 13  Kejadian Banjir         917 non-null    int64
dtypes: float64(1), int64(7), object(6)
memory usage: 107.5+ KB

In [35]:
df.drop(['Kode Identitas Bencana', 'Penyebab', 'ID Kabupaten', 'Provinsi', 'Tanggal Kejadian', 'Kejadian'], axis=1, inplace=True)
# df['Tanggal Kejadian'] = pd.to_datetime(df['Tanggal Kejadian'])
# df['Tahun'] = df['Tanggal Kejadian'].dt.year
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 917 entries, 26 to 6781
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Kabupaten        917 non-null    object
 1   Meninggal        917 non-null    int64
 2   Hilang           917 non-null    int64
 3   Terluka          917 non-null    int64
 4   Rumah Rusak      917 non-null    float64
 5   Rumah Terendam   917 non-null    int64
 6   Fasum Rusak      917 non-null    int64
 7   Kejadian Banjir  917 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 64.5+ KB

In [36]:
df_grouped = df.groupby(['Kabupaten']).agg({
    'Meninggal' : 'sum',
    'Hilang' : 'sum',
    'Terluka' : 'sum',
    'Rumah Rusak' : 'sum',
    'Rumah Terendam' : 'sum',
    'Fasum Rusak' : 'sum',
    'Kejadian Banjir' : 'sum'
}).reset_index()

In [39]:
df_grouped = df_grouped[df_grouped['Kejadian Banjir'] == df_grouped['Kejadian Banjir'].max()]
df_grouped

,Kabupaten,Meninggal,Hilang,Terluka,Rumah Rusak,Rumah Terendam,Fasum Rusak,Kejadian Banjir
3,BOGOR,17,1,12,3127.0,33621,153,179

In [ ]:
# Kabupaten bogor : 179 kejadian, 2710 km2
# Provinsi jakarta : 127 kejadian, 661,5 km2
# luas wilayah bogor lebih besar 4 kali lipat
# perbandingan kejadian bogor dan jakarta hanya 1,4 kali lipat